*{
    margin: 0;
    padding: 0;
}

.body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main-container{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.cards-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(240px, 1fr) 
        );
    gap:20px;
    place-content: center; /*centramos el contenido*/
}

.product-card{
    width: 240px;
    padding: 10px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /*nos ajusta el tamaño de la imagen original al tama;o establecido*/
}

.product-info{
    display: flex; /*pora mover los elementos que esten contenidos*/
    justify-content: space-between; /*alinear de manera horizontal*/
    align-items: center; /*alinear de manera vertical*/
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1){ /*p:nth-child con esta propiedad selecionamos nuestro primer parrafo dentro del div*/
    font-weight: bolder;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){ /*p:nth-child con esta propiedad selecionamos nuestro primer parrafo dentro del div*/
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-top: 0px;
    margin-bottom: 0px;
}

@media(max-width:640px){
    .cards-container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(150px, 1fr) 
            );
        gap:20px;
    }

    .product-card{
        width: 150px;
        padding: 10px;
    }
    .product-card img {
        width: 150px;
        height: 150px;
        border-radius: 20px;
        object-fit: cover; /*nos ajusta el tamaño de la imagen original al tama;o establecido*/
    }
}