* {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.logo {
  margin-top: 6px;
  width: 110px;
  height: 50px;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

/*para el hover el color cuando ponemos le mause encima*/
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid black;
  color: black;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 20px;
  height: 20px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrito {
  width: 30px;
  height: 40px;
}

.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}

/*.menu-container {
  width: 90%;
  height: 80px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 10px;
  align-items: center;
}

.menu-container img {
  width: 150px;
  height: 50px;
}

.productos {
  justify-items: right;
}

.productos ul {
  display: flex;
  list-style: none;

}

.productos ul li a {
  color: var(--very-light-pink);
  text-decoration: none;
  font-size: var(--sm);
  display: inline-block;
  font-weight: bolder;
  padding: 12px;

}

.productos ul li a:hover{
    border: 1px solid #060606;
    color: var(--black);
    padding: 8px;
    border-radius: 8px;
}


.desktop-menu {
  height: 50px;
  justify-self: end;
}

.desktop-menu ul {
  display: flex;
  list-style: none;
}

.desktop-menu ul li a{
  color: var(--black);
  text-decoration: none;
  font-size: var(--sm);
  display: inline-block;
  font-weight: bolder;
  padding: 12px;

}

.desktop-menu ul li a:hover{
    border: 1px solid #060606;
}
*/
.cards-container {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  place-content: center; /*centramos el contenido*/
}

.product-card {
  width: 240px;
  padding: 10px;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover; /*nos ajusta el tamaño de la imagen original al tama;o establecido*/
}

.product-info {
  display: flex; /*pora mover los elementos que esten contenidos*/
  justify-content: space-between; /*alinear de manera horizontal*/
  align-items: center; /*alinear de manera vertical*/
  margin-top: 12px;
}

.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  /*p:nth-child con esta propiedad selecionamos nuestro primer parrafo dentro del div*/
  font-weight: bolder;
  font-size: var(--md);
  margin-top: 0px;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  /*p:nth-child con esta propiedad selecionamos nuestro primer parrafo dentro del div*/
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 640px) {
  .cards-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }

  .product-card {
    width: 150px;
    padding: 10px;
  }
  .product-card img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover; /*nos ajusta el tamaño de la imagen original al tama;o establecido*/
  }
}

@media (max-width: 740px) {
  .menu {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("./Icons/menu.png");
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el botón */
    background-position: center; /* Ajusta la posición de la imagen */
    border-radius: 5px;
    cursor: pointer;
  }
  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }

  .logo {
    margin-top: 8px;
    width: 110px;
    height: 50px;
  }
}
